body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
 
 html{
  scroll-behavior: smooth;
} 


body{
    font-family: 'Raleway', sans-serif;
    background-color: white; 
}

/* h1{
    
font-family: 'Roboto', sans-serif;
font-weight: 300;
} */



/* Home page container */
.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .site-content {
    flex: 1;
  }


/* Navbar */

/* Translation */





.navbar-expand-md .navbar-collapse {
    background-color: #160902;
    padding-bottom: 5%;
}

/* .navbar .dropdown.show a { 
    background-color:#161617;
} */
  
/* .navbar .dropdown.show a :hover{ 
    background-color: #bb51ce;
}
 */

.navbar{
    /* background-color: transparent; */
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10vh;
    font-size: .9rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.bg-dark{
    background: #160902 !important;
    transition: 0.5s ease;
}

.bg-dark.scrolled{
    background: #160902 !important;
}
/* bg stand for background */

.nav-link{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #D6AB58; 
  /* background: rgba(59, 57, 59, 0.616); 
    transition: background .3s;
    border-radius: 5px;  */
}

.navbar-dark .navbar-toggler  {
    border: none;
    outline: none;
  }

  .active a{
    font-weight:600;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    border-bottom: none;
    text-align: center;
    color:#D6AB58;
   
}
 .logo{
    min-width: 70px;
    max-width: 70px;
    margin-left: 15px;
    border: none;
}
 

/* For responsivity of hamburger menu .row is needed  */
.row {
    margin: 0;
 }

/*  large screen and desktop media query  */

 @media (min-width:770px) and (max-height: 1366px)   {
  /* .navbar-default .navbar-toggler  {
    border: none;
    outline: none;
  } */
  .bg-dark{
    background: transparent !important;
    transition: 0.5s ease;
}

.bg-dark.scrolled{
    background:rgba(22, 9, 2, 0.75) !important;
}
.navbar-expand-md .navbar-collapse {
    padding-right: 15px;
    background-color: transparent !important;
    padding-bottom: 0;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    border-bottom: 3px solid #D6AB58;
    text-align:start;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    text-align: start;
}

/* bg stand for background */

} 

/* Home section */


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #0F0E2E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/homeimage.jpg); 
    background: linear-gradient(to right,  rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/homeimage.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* iphone 5 media query  */

@media (max-width: 360px) { 
      #home{
        height: 105vh;
    }
}


.landing-box-1{
    overflow:hidden;
    justify-content: flex-start; 
    align-items: center;
}

.landing-box-1 h1 {
    text-align: center; 
    font-size: 1.8rem;
    margin-top: 60px;
    color: white;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1.7;
   } 


.landing-box-1 p {
    text-align: center;
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

/* Discover more scroll to next section */

.landing-box-1 .homeButton{
    display: flex;
    justify-content: center;
    text-align: center;
}

 .button2{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: solid 0.2px white;
    background-color:transparent;
    margin-top: 100px;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 15px;
   /*  border-radius: 4px; */
    color: white;
    text-decoration: none;
}

.button2:hover {
    color:white;
    box-shadow: inset 0 -3em 0 #D6AB58 ;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
}

/* @media screen and (min-width: 615px){
    .landing-box-1 p {
        padding-left: 50px; 
        padding-right: 50px;
    }
}
 */
/* @media screen and (min-width:769px){
	.button2 {display:block}
}
@media screen and (max-width:769px){
	.button2{display:none}
} */



/* Landing-box 2 */

.landing-box-2 {
    display:flex;
    justify-content: center;
    padding-top: 40px;
}




  

/* Media queries */
/* 
@media (min-width: 498px) {
    .landing-box-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }
}
 */


/*  iphone 5 media query   */

@media (max-width: 360px) { 
    .landing-box-1 h1 {
        margin-top: 100px;
        font-size: 2rem;
       } 
       
       .landing-box-1 p {
        font-size: 1.1rem;
       } 
   
      .landing-box-2 {
        padding: 35px;
    }

    
}



/*  large screen and desktop media query  */

    @media (min-width:770px) and (max-height: 1366px)   {
        .landing-box-1 h1 {
            padding-left: 5%; 
            font-size: 3.3rem;
            margin-top: 250px;
            text-align: start; 
            letter-spacing: 10px;
        } 

        .landing-box-1 p{
            font-size: 1.5rem;
            letter-spacing: 2px;
            padding-left: 5%;
            text-align: start; 
            letter-spacing: 5px; 
        }
     

        .landing-box-1 .homeButton{
            justify-content: start;
        }

        .button2{
            margin-left: 5%;
            font-size: 1.5rem; 
            margin-top: 20px;
        }

    }


/* padding for corona and device features sections */

.padding{
    padding: 50px 0;
}

.padding img{
    width: 100%;
}

/* what we do content and background colour */

/* MAGIC WITH THE NAVBAR this allows the bottom to move to the top of the what we do section*/

#about:before { 
    display: block; 
    content: " "; 
    margin-top: -2px; 
    height: 2px;
    visibility: hidden; 
}

.about-us{
    color: white;
    width: 100%;
}


.about-us h1 {
    color: #D6AB58;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 5px;
}

.about-us p{
    color:#615E5D;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 10%;
   /*  margin-bottom: 45px; */
    padding-right: 5%;
    padding-left: 5%;
    line-height: 1.7;
}


.about-image{
    display: flex;
    justify-content:center;
    padding-top: 50px;
    padding-bottom: 50px;
    /*border: 3px solid red;*/
}

.about-image img{
    height: 150px;
    width: 150px;
    flex:0 1 auto;
    align-items:center;
    margin: 0 auto;
/*   border:1px solid red;   */
}


/* Mission section */
#mission{
    background-color: rgba(238, 241, 241, 0.4);  
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15%;
  /*   padding-bottom: 30px; */
}


 .missionOuterbox{
    box-sizing: border-box;
    width: 900px;
    /* border: 1px solid blue; */
}
 
.missionBox{
    background: -webkit-linear-gradient(to right, rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/welcome.jpg); 
    background: linear-gradient(to right,  rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/welcome.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-webkit-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-moz-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
}

.missionBox h1 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.missionBox p {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 1.7;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

/*------ Choose us section -----*/
#choose-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.choose-us{
    color: white;
    width: 100%;
}

.choose-us h1 {
    color: #D6AB58;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 5px;
}

.choose-heading h2 {
    margin-top: 45px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}  

.choose-heading  p{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 45px;
}  




.chooseimage-heading h5{
    justify-content: center;
    text-align: center;
    color: #160902;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
/*     padding-right: 15%;
    padding-left: 15%; */
}

/* .chooseimage-heading p{
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    color: #615E5D;
    margin-bottom: 20px;
  
} */
.chooseimage-heading p {
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: #615E5D;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.7;
    padding-right: 5%;
    padding-left: 5%;
}

/*  .heading2{
    font-weight: bold;
    color: #525253;
}
 */


.choose-img{
    display: flex;
    justify-content:center;
    padding-top: 40px;
    padding-bottom: 20px;
    /*border: 3px solid red;*/
 } 

 .choose-img img{
    height: 150px;
    width: 150px;
    flex:0 1 auto;
    align-self:center;
    margin: 0 auto; 
 /*  border:1px solid red;  */
 } 




/* ------ Team section ------ */
#team-section{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    background: #0F0E2E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/team.jpg); 
    background: linear-gradient(to right,  rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/team.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.team{
    overflow:hidden;
    justify-content: flex-start; 
    align-items: center;
}

.team h1 {
    text-align: center;
    font-family: roboto;
    font-size: 1.8rem;
    margin-top: 60px;
    color: white;
    font-weight: 500;
    letter-spacing: 10px;
    text-shadow: 20px 20px rgba(214, 171, 88, 0.30);
   } 


.team p {
    align-items: left;
    /* text-align: center; */
    font-size: 1.3rem;
    color: white;
    letter-spacing: 5px;
    padding-top: 2%;
}


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card {
    display: flex;
    justify-content: center;
  /*   align-items: center; */
    background-color: transparent;
    /* padding-left: 15%; */
    margin-top: 100px;
    width: 100%;
  /*   border: 0; */
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.card-title {
    font-family: roboto;
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-family: inherit;
    line-height: 2;
    font-weight: 500;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

.box-image{
    display: flex;
    justify-content: center;
}
 
.founder-image {
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 3px solid #D6AB58; 
    margin: auto;     
} 


   /*  padding: .25rem;
    background-color: #fff; */
   /*  border: 3px solid #D6AB58; */
  /*   border-radius: .25rem;
    max-width: 100%;
    height: auto; */
    



/* iphone 5 media query  */

/* @media (max-width: 360px) { 
    #team-section{
      height: 105vh;
  }
} */

 @media (min-width:770px) and (max-height: 1883px) {
    .founder-image {
        width: 200px;
        height: 200px;
     } 

     .card {
        padding-left: 8%;
    }

    .card-body {
        padding-left: 12%;
    }

    .card-title {
       text-align:start;
    }
    .card-text {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }
    
    
/* .card-text {
    padding-right: 20%;
} */
.team h1 {
    padding-left: 8%;
    font-size: 4rem;
    text-align: start;
   } 
     
 }

 
/* Investors page */

#investors{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #0F0E2E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/investors.jpg); 
    background: linear-gradient(to right,  rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/investors.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.investors-box-1{
    overflow:hidden;
    justify-content: flex-start; 
    align-items: center;
}

.investors-box-1 h1 {
    text-align: center; 
    font-size: 1.8rem;
    margin-top: 60px;
    color: white;
    font-weight: lighter;
    letter-spacing: 10px;
   } 


#investment:before { 
    display: block; 
    content: " "; 
    margin-top: -2px; 
    height: 2px;
    visibility: hidden; 
}

.investment-opportunity{
    background-color: rgba(238, 241, 241, 0.4);
    color: white;
    width: 100%;
}


.investment-opportunity h1 {
    color: #D6AB58;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 5px;
}

.investment-opportunity p{
    color: #615E5D;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 10%;
    /* margin-bottom: 45px; */
    padding-right: 5%;
    padding-left: 5%;
    line-height: 1.7;
}

  
.investor-group{
    color: white;
    width: 100%;
}

.investor-group h1 {
    color: #160902;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 3px;
}

.investor-group p {
    color: #615E5D;
    font-size: 1rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 1.7;
}



/* Images container */
.myContainer{
    background-color: rgba(238, 241, 241, 0.4);
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 10%;
    margin: 0;
    height: 40%;
   /*  padding-top: 10%; */
    padding-bottom: 10%;
}

.investor-image {
    display: flex;
    justify-content:center;
    align-items: center;
   
   /*  padding-top: 50px;
    padding-bottom: 50px; */
     /* border: 3px solid red;  */
}

.investor-image img{
    align-items: center;
    height: 160px;
    width: 200px;
    flex:0 1 auto;
   /*  margin-left: 100px;
    margin-right: 100px; */
    opacity: 50%;  
    /* border:1px solid purple; */
    padding-right: 10%;
    padding-left: 10%; 
}

.investor-image img:hover{
    align-items: center;
    height: 160px;
    width: 200px;
    flex:0 1 auto;
   /*  margin-left: 100px;
    margin-right: 100px; */
    opacity: 100%;  
    /* margin-bottom: 20px; */
    cursor: pointer;
   /*  border:1px solid purple;  */
}

.investor-image h5 {
    font-family: inherit;
    text-align: center;
    color: #615E5D;
    font-size: 1rem;
    margin-top: 5px;
}

.investor-subheading {
    margin-top: 5px;
    margin-bottom: 5px;
}



/* .investors-box-1 p {
    align-items: left;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 5px;
    padding-top: 2%;
}
 */


/* iphone 5 media query  */

@media (max-width: 360px) { 
    #investors{
      height: 105vh;
  }
}


/* iphone 5 media query */

 @media (max-width:370px) and (max-height: 680px)  { 
    .about-us h1{
        margin-top: 28px;
        font-size: 1.8rem;
        padding-left: 0;
    }
    .about-us p{
       font-size: 1.1rem;
       padding-top: 10px;
    }

} 




/*  large screen and desktop media query  */

@media (min-width:770px) and (max-height: 1366px)  {

    .about-us {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
    
    .about-us h1{
        margin-top: 300px;
        font-size: 2.8rem;
        padding-left: 2%;
        letter-spacing: 8px;
    }
    .about-us p {
        font-size: 1.5rem;
        padding-top: 100px;
        line-height: 3rem;
        padding-right: 25%;
        padding-left: 25%;
    }

    .about-image{
        padding-top: 200px;
        padding-bottom: 100px;
        /*border: 3px solid red;*/
    }
    .about-image img{
        height: 200px;
        width: 200px;
    }
    
    .missionBox h1{
        font-size: 2.2rem;
        font-weight: 500; 
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .missionBox p{
        font-size: 1.5rem;
        line-height: 2;
        padding-right: 5%;
        padding-left: 5%;
    }

    .choose-us h1 {
        font-size: 2.8rem;
        letter-spacing: 8px;
    }
   
    .chooseimage-heading p{
        padding-right: 15%;
        padding-left: 15%;
    }

    .investors-box-1 h1 {
        font-size: 3.3rem;
    }

    .investment-opportunity h1 {
        margin-top: 250px;
        font-size: 2.8rem;
        letter-spacing: 8px;
    }
    .investment-opportunity p{
        padding-right: 25%;
        padding-left: 25%;
        padding-top: 2%;
        
    }

    .investor-group h1 {
        margin-top: 150px;
        font-size: 2rem;
    }

    .investor-group p {
        color: #615E5D;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 2%;
        /* margin-bottom: 45px; */
        padding-right: 28%;
        padding-left: 28%;
        line-height: 1.7;
    }
    .investor-image h5 {
        font-size: 1.2rem;
        margin-top: 5px;
    }
    

  
}



/*-- Footer --*/


#footer{
    background: #160902;
    align-items: center;
    padding-top: 50px; 
    padding-bottom: 30px; 
}

.contact , .social , .privacy  {
    list-style: none;
    align-items: center;
    padding-left: 0;
}
 
  

.contact span , .social span , .privacy span{
    color: #D4B96E; 
    /* padding-bottom: 10px;  */
    margin-bottom: 10px;
    display: block;
    font-size: 1rem;
    font-family: roboto;
    letter-spacing: 3px;
   /*  margin-top: 30px; */
    text-align: center; 
 }

 
.contact li a , .social li a , .privacy li a{
    color: white; 
    /* padding-bottom: 10px; 
    margin-bottom: 20px; */
    display: block;
    font-size: 1rem;
    font-family: roboto;
   /*  letter-spacing: 3px;
    margin-top: 50px; */
    text-transform: uppercase;
     text-align: center; 
 }



 .contact li a:hover, .privacy li a:hover{
    text-decoration:none;
    color: #D4B96E;
}


 
.copyright h4{
    font-family: roboto;
    color: #989E9E;
    font-size: 1rem;
    text-align: center;
}

.copyright h4:first-child{
    padding-top: 10%;
}


.copyright h4:last-child{
    padding-bottom: 5%;
}

.fa {
    padding: 10px 15px 5px;
    font-size: 1.2rem;
    color:white;
    padding-bottom: 1%;
    
}

.fa:hover{
    color: #D4B96E;  
    text-decoration: none;
}

@media (min-width:770px) and (max-height: 1366px) {

    #footer{
        padding-top: 0; 
        padding-bottom: 0; 
    }
    
    .contact span , .social span , .privacy span{
        margin-top: 50px;
        
     }

     .copyright h4:first-child{
        padding-top: 2%;
    }

     .copyright h4:last-child{
        padding-bottom: 2%;
    }
    
}


 /* Bootstrap container-fluid */

 .container-fluid {
    padding-right: 0;
    padding-left: 0;
}



 #contact-us {
    display: flex;
    justify-content: center;
    width: 100%;
   /*  height: 100%; */
/*  margin-left: 10%; */
    margin-right: 10%; 
   /*  border: 1px solid black; */
}


.contact-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, hsla(40, 61%, 59%, 0.9), hsla(40, 100%, 36%, 0.8)), url('./img/form-image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-image h1 {
    text-align: center;
    color: white;
    font-family: roboto;
    font-size: 1.5rem;
    padding-top: 3rem;
}

.contact-image p {
    text-align: center;
    color: white;
    font-family: inherit;
    font-size: 0.9rem;
    padding-top: 1rem;
    line-height: 1.9;
}


.form-input {
    border: 1px solid #C9C9C9;
   
    /* margin-left: 10px; */
}


.form-input h2 {
    color: #160902;
    font-family: inherit;
    font-weight: lighter;
    font-size: 1.3rem;
    letter-spacing: .35rem;
    text-align: start;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-input h5 {
    font-family: roboto;
    font-weight: lighter;
    font-size: 1rem;
    text-align: start;
    margin-top: 1rem;
    color: #615E5D;
}



.defaultContactFormName, .defaultContactFormEmail, .exampleFormControlTextarea2 {
    background-color: white;
    border: 1px solid #C9C9C9;
    opacity: 70%;
    font-weight: bold;
}

.btn {
    justify-content: flex-start;
    display: flex;
    background-color: #D6AB58;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: start;
    color: white;
    margin-bottom: 1rem;
    /* align-items: start; */
}

.btn:hover {
    background-color: #160902;
    color: #D6AB58;
    box-shadow: none;
    border-color: #160902;
}

.btn-outline-info {
    color: white;
    border-color: #D6AB58;
}




#Terms {
    background-color: rgba(238, 241, 241, 0.4);
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
}

.terms-text h1 {
    padding-top: 10%;
    padding-bottom: 2%;
    color: #160902;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .35rem;
    text-align: center;
    margin-top: 1rem;
}

.terms-text p{
    padding-bottom: 15%;
    line-height: 2;
    text-align: center;
    margin-top: 1.5rem;
}
 


/*-- Media query for larger screens (desktop) --*/

@media (min-width:770px) and (max-height: 1883px)   {
    .contact-image p {
        text-align: center;
        font-size: 1.1rem;
        padding-top: 1rem;
        padding-right: 20%;
        padding-left: 20%;
    }

    .form-input h2 {
        color: #160902;
        font-family: inherit;
        font-weight: lighter;
        font-size: 1.5rem;
        letter-spacing: .35rem;
        text-align: start;
        margin-top: 1rem;
    }

    #Terms {
        padding-right: 15%;
        padding-left: 15%;
    }
     .terms-text h1 {
        text-align: start;
    }
    
    .terms-text p{
        padding-bottom: 15%;
        line-height: 2;
        text-align: start;
    }
   
   } 

   #box-link{
    display: flex;
    justify-content: center;
 /*    flex-wrap: wrap; */
   
 /*    height: 40%; */
   /*  padding-top: 10%; */
  
 
     /* border:1px solid purple;  */
   }


   .box-link__container1{
    display: flex;
    justify-content: center;  
    padding-top: 10%; 
    /* margin-bottom: 10%; */
   }

   
   .box-link__container2{
    display: flex;
    justify-content: center;  
    padding-top: 10%; 
    margin-bottom: 10%;
   }



   .box-link__image1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, hsla(21, 83%, 5%, 0.5), hsla(21, 83%, 5%, 0.5)), url('./img/masterbed.jpg');
    box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-webkit-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-moz-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
    height: 262px;
    width: 322px;
   /*  margin:200px; */
    flex:0 1 auto;
  

     /* padding-right: 10%;
     padding-left: 10%;  */
}





.box-link__image1:hover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, hsla(40, 61%, 59%, 0.9), hsla(40, 100%, 36%, 0.8)), url('./img/masterbed.jpg');
    box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-webkit-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-moz-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
    height: 262px;
    width: 322px;
    cursor: pointer;
}


.box-link__image2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, hsla(21, 83%, 5%, 0.5), hsla(21, 83%, 5%, 0.5)), url('./img/blog2.jpg');
    box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-webkit-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-moz-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
    height: 262px;
    width: 322px;
   /*  margin:200px; */
    flex:0 1 auto;
  

     /* padding-right: 10%;
     padding-left: 10%;  */
}





.box-link__image2:hover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, hsla(40, 61%, 59%, 0.9), hsla(40, 100%, 36%, 0.8)), url('./img/blog2.jpg');
    box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-webkit-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
	-moz-box-shadow: 0 10px 20px rgba(22, 9, 2, 0.5)  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
    height: 262px;
    width: 322px;
    cursor: pointer;
}
 
 
.box-link__image1 h1, .box-link__image2 h1{
    align-items: center;
    text-align: center;
    color: white;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: lighter;

}
 
   /* unvisited link */
   .box-link__image1 a:link, .box-link__image2 a:link{
    color:white;
  }
  
  /* visited link */
 .box-link__image1 a:visited, .box-link__image2 a:visited{
    color:white;
  }
  
  /* mouse over link */
 .box-link__image1 a:hover, .box-link__image2 a:hover {
    color: white;
  }
  
  /* selected link */
  .box-link__image1 a:active,  .box-link__image2 a:active {
    color: none;
  }


/* @media (min-width:770px) and (max-height: 1118px) {
    .box-link__image {
        height: 302px;
        width: 488px;
    }
    
    .box-link__image:hover {
        height: 302px;
        width: 388px;
        
        
    }
} */

/*-- Media query for larger screens (desktop) --*/


@media (min-width:992px) and (max-height: 1883px)   {
  
    .box-link__container1{
        display: flex;
        justify-content: flex-end;  
        padding-right: 5%;
        padding-top: 10%; 
        margin-bottom: 10%;
       }
    
       
       .box-link__container2{
        display: flex;
        justify-content: flex-start;  
        padding-right: 5%;
        padding-top: 10%; 
        margin-bottom: 10%;
       }


       .box-link__image1, .box-link__image2 {
        height: 377px;
        width: 485px;
    }
    

     .box-link__image1:hover,  .box-link__image2:hover{
        height: 377px;
        width: 485px;
    }

    .box-link__image1 h1, .box-link__image2 h1{
        font-size: 2.5rem;

    }
     
    
   } 


   
/* Projects page */

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background: #0F0E2E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/masterbed2.jpg); 
    background: linear-gradient(to right,  rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/masterbed2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  /*   object-fit: contain; */
   /*  max-width:100%;
max-height:100%; */
}



.projects-box-1{
    overflow:hidden;
    justify-content: flex-start; 
    align-items: center;
}

.projects-box-1 h1 {
    text-align: center; 
    font-size: 1.8rem;
    margin-top: 60px;
    color: white;
    font-weight: lighter;
    letter-spacing: 10px;
   } 

    

   #property-description {
       margin-bottom: 50px;
       padding: 5%;
   }


  #property-description h1 {
    color: #D6AB58;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 5px;
}


#property-description p {
    color: #615E5D;
    font-family: raleway;
    margin-top: 50px;
    text-align: start;
    font-size: 1.1rem;
}

.property-image {
    display: flex;
    justify-content: center;
}

.property-image img {
    align-items: center;
    width: 300px;
    height: 200px;
}

.slide-image{
    display: inline-block;
   /*  margin-left:-4px; */
   /* margin-left:40px; */
  }
  .slide-image img{
    width:100%;
    height:auto;
    margin-bottom: 100px;
  }
  
  body .carousel-indicators li{
    background-color:#EBD5AB;
  }
  /* body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:#EBD5AB;
  } */
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
  }

  
 @media (min-width:770px) and (max-height: 1366px)   {
    .projects-box-1 h1 {
        font-size: 3.3rem;
    }
    
    .property-image img {
        width: 370px;
        height: 270px;
    }
    #property-description p {
        color: #615E5D;
        margin-top: 10px;
        font-size: 1.3rem;
    }

    #property-description h1 {
        text-align: start;
    }
    
.slide-image{
    display: inline-block;
   /*  margin-left:-4px; */
   margin-left:40px;
  }

  .re-order .row .first {
    order: 2;
  }
  .re-order .row .second {
    order: 1;
  }
}
  

/* @media (min-width: 768px) { */
    /* .re-order .row {
      display: flex;
      display: -ms-flex;
      flex-direction: column;
    } */
 
/*   } */


/* Blog page */

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background: #0F0E2E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/masterbed2.jpg); 
    background: linear-gradient(to right,  rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/masterbed2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  /*   object-fit: contain; */
   /*  max-width:100%;
max-height:100%; */
}



.blog-box-1{
    overflow:hidden;
    justify-content: flex-start; 
    align-items: center;
}

.blog-box-1 h1 {
    text-align: center; 
    font-size: 1.8rem;
    margin-top: 60px;
    color: white;
    font-weight: lighter;
    letter-spacing: 10px;
   } 


   

/* Contact page */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background: #0F0E2E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/masterbed2.jpg); 
    background: linear-gradient(to right,  rgba(22, 9, 2, 0.75), rgba(22, 9, 2, 0.75)), url(./img/masterbed2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  /*   object-fit: contain; */
   /*  max-width:100%;
max-height:100%; */
}



.contact-box-1{
    overflow:hidden;
    justify-content: flex-start; 
    align-items: center;
}

.contact-box-1 h1 {
    text-align: center; 
    font-size: 1.8rem;
    margin-top: 60px;
    color: white;
    font-weight: lighter;
    letter-spacing: 10px;
   } 


   /* table section */

   #table{
    background-color: rgba(238, 241, 241, 0.4);  
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15%;
    font-family: roboto;
    font-size: 1.5rem;
  /*   padding-bottom: 30px; */
}


   #table td{
       color:#A7A4A3;
       text-align: center;
   }
   
   #table span{
    font-size: 0.9rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: -7px;
}

.table td, .table th {
    padding: 1.5rem;
}

    
   .bg-heading {
       background-color:  #D6AB58;
       color: white;
       text-align: center;
       letter-spacing: 2px;
   }

   
   .bg-cell{
    background-color: rgba(214, 171, 88, 0.20);
    color:#A7A4A3;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

/* Learn more section */

#learn-more{
    background-color: white;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 5% 10%;
    font-family: roboto;
    color:#2F3031;
    /* font-size: 1.2rem; */
}

#learn-more h2{
    text-transform: uppercase;
    letter-spacing: 5px;
}

#learn-more h4{
    padding-top: 5%;
    font-weight: 600;
}

#learn-more a{
    color: #D6AB58;
    font-size: 2rem;
    font-weight: bold;
}

#learn-more a:hover{
    text-decoration: none;
}